<p>
  <img src="http://opus-foundation.org/wp-content/themes/default/images/opus_logo_white.png" style="width: 200px; background: #000;" />
</p>

<blockquote>
  <p>First Iranian Decentrilized Bycotless Token can be Purchase From Rial Local Currency In Iran</p>
  <footer><a href="https://etheriran.bid/" target="_blank">https://etheriran.bid/</a></footer>
</blockquote>
